.todo-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;

    mat-card {
      width: 90%;
      padding: 20px;
      display: flex;
      margin-top: 20px;
  
      mat-card-header {
        justify-content: center;
        margin-bottom: 20px;
        color: gray;
      }
  
      form {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        gap: 25px;
        justify-items: center;
  
        mat-form-field {
          width: 80%;
        }
  
        button[type="submit"] {
          margin-top: 16px;
          width: 20%;
        }
      }
    }
  }
  