.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1A1C1C;
  display: flex;
  flex-direction: column;

  mat-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #2C2C2C;

    mat-card-header {
      justify-content: center;
      margin-bottom: 20px;
      color: gray;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;

      mat-form-field {
        width: 100%;
      }

      button[type="submit"] {
        margin-top: 16px;
      }
    }
  }
}
